In [1]:
# df.info()

In [4]:
import pandas as pd

df= pd.read_csv('./vgsales.csv')
type(df)

pandas.core.frame.DataFrame

In [5]:
df.Publisher.value_counts().head(1)

Electronic Arts    1351
Name: Publisher, dtype: int64

In [16]:
df.Platform.value_counts().head(1)

DS    2163
Name: Platform, dtype: int64

In [14]:
df.Genre.mode()[0]

'Action'

In [8]:
df.iloc[:20, [1,-1]]

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [9]:
median = df.NA_Sales.median()
games = df[df['NA_Sales']==median]
length= len(games)//2
games[length-5:length+5]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

In [10]:
standard = df.NA_Sales.std()
top = df.NA_Sales.iloc[0]
top / standard

50.80306374875828

In [11]:
print(df[ df['Platform']=='Wii' ].Global_Sales.mean())
print(df[ df['Platform']!='Wii' ].Global_Sales.mean())

0.6994037735849057
0.5233896418516336

In [17]:
df[['Platform', 'Global_Sales']].groupby('Platform').sum().sort_values('Global_Sales',ascending=False)

          Global_Sales
Platform
PS2            1255.64
X360            979.96
PS3             957.84
Wii             926.71
DS              822.49
PS              730.66
GBA             318.50
PSP             296.28
PS4             278.10
PC              258.82
XB              258.26
GB              255.45
NES             251.07
3DS             247.46
N64             218.88
SNES            200.05
GC              199.36
XOne            141.06
2600             97.08
WiiU             81.86
PSV              61.93
SAT              33.59
GEN              28.36
DC               15.97
SCD               1.87
NG                1.44
WS                1.42
TG16              0.16
3DO               0.10
GG                0.04
PCFX              0.03

In [18]:
df[['Platform', 'JP_Sales']].groupby('Platform').sum().sort_values('JP_Sales',ascending=False)

          JP_Sales
Platform
DS          175.57
PS          139.82
PS2         139.20
SNES        116.55
NES          98.65
3DS          97.35
GB           85.12
PS3          79.99
PSP          76.79
Wii          69.35
GBA          47.33
N64          34.22
SAT          32.26
GC           21.58
PSV          20.96
PS4          14.30
WiiU         12.79
X360         12.43
DC            8.56
GEN           2.67
NG            1.44
WS            1.42
XB            1.38
SCD           0.45
XOne          0.34
PC            0.17
TG16          0.16
3DO           0.10
GG            0.04
PCFX          0.03
2600          0.00

In [19]:
df[df['Publisher']=='Nintendo'].Global_Sales.sum()

1786.5600000000002