In [1]:
# df.info()

In [4]:
import pandas as pd

df= pd.read_csv('/home/abdullah/panda-stats/vg-stats/vgsales.csv')
type(df)

ModuleNotFoundError: No module named 'pandas'

In [44]:
df.Publisher.value_counts().head(1)

Electronic Arts    1351
Name: Publisher, dtype: int64

In [42]:
df.Platform.value_counts().head(1)

DS    2163
Name: Platform, dtype: int64

In [43]:
df.Genre.value_counts().head(1)

Action    3316
Name: Genre, dtype: int64

In [107]:
df.iloc[:20, [1,-1]]

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [3]:
median = df.NA_Sales.median()
games = df[df['NA_Sales']==median]
length= len(games)//2
games[length-5:length+5]

NameError: name 'df' is not defined

In [115]:
standard = df.NA_Sales.std()
top = df.NA_Sales.iloc[0]
top / standard

50.80306374875828

In [123]:
print(df[ df['Platform']=='Wii' ].Global_Sales.mean())
print(df[ df['Platform']!='Wii' ].Global_Sales.mean())

0.6994037735849057
0.5233896418516336